# Python
__pycache__/
*.pyc
VLM-1/

# Model（最重要🔥）
models/

# Dataset
data/

# Output
outputs/
result/

# Cache & Temp
.cache/
temp/

# VSCode
.vscode/

# OS
.DS_Store
*.png 
# Old Backup / Tests
SugerSystem_AI_v1/